.container div{
    background-color: rgb(246, 134, 134);
    border: 2px solid rgb(187, 51, 229);
    height:100px;
    padding: 15px;
}
/*.one{
    background-color: rgb(168, 104, 21);
    padding: 5px;
}*/
.container{
    width:100vw;
    display: flex;
    justify-content:center;
    background-color:blueviolet;
    height: 500px;
    align-items:center;
}
